<html>
    <head>
        
        <title><%=(locals.title) ? title :''%></title>
        <title>Contoh CRUD Node.js-MySQL</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    
    </head>
    <body>
    
        <h2>Hello world<h2>
<div class="page-data">
         
    </body>

</html>
